taxi_dispatching_zones.dtd

<?xml version="1.0" encoding="utf-8"?>
        <!ELEMENT zones (zone)*>
        <!ELEMENT alternative_zones (alternative_zone+)>
        <!ELEMENT alternative_zone (#PCDATA)>
        <!ATTLIST alternative_zone
                id        CDATA   #REQUIRED>
        <!ELEMENT zone (alternative_zones?)>
        <!ATTLIST zone
                id        CDATA   #REQUIRED
                wkt      CDATA   #REQUIRED>
